.footer {
  grid-column: 1 / 3; /* Занимает обе колонки */
  grid-row: 4; /* Занимает третью строку */
  background-color: white;
  border-top: 1px solid #dcdcdc; /* Граница сверху */
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Задаем направление столбиком */
  align-items: flex-start; /* Выравнивание по левому краю */
  padding: 1rem; /* Добавление отступов */
}
.footer-h3,
.footer-want,
.footer-together,
.copyright {
  margin: 0 0 5px 0; /* Убираем отступы снизу и добавляем для визуального разделения */
}
.footer-h3,
.footer-want,
.footer-together,
.copyright {
  width: 100%; /* Занимает всю ширину родительского контейнера */
  text-align: left; /* Выравнивание текста по левому краю */
} /* Адаптивные стили для footer */
@media (max-width: 768px) {
  .footer-h3 {
    font-size: 1rem; /* 16px */
  }
  .footer-want {
    font-size: 0.875rem; /* 14px */
  }
  .footer-together {
    font-size: 0.9375rem; /* 15px */
  }
  .copyright {
    font-size: 0.75rem; /* 12px */
  }
}
