.topTable {
    display: flex;
    justify-content: space-between;
  }
  .buttonTop {
    background-color: rgb(119, 93, 166);
  }
  button.active {
    background-color: #775da6; /* Or any color you prefer */
    color: white;
  }
  
  button.inactive {
    background-color: lightgray;
    color: black;
  }
  